In [1]:
import pandas as pd
import numpy as np

%load_ext autoreload
%autoreload 2

In [2]:
df = (
   pd.read_csv(
       '../data/adult.data',
       names=[
          'age',
          'workclass',
          'fnlwgt',
          'education',
          'education-num',
          'marital-status',
          'occupation',
          'relationship',
          'race',
          'sex',
          'capital-gain',
          'capital-loss',
          'hours-per-week',
          'native-country',
          'income',
       ],
       dtype={
          'age': np.int64,
          'workclass': 'category',
          'fnlwgt': np.int64,
          'education': 'category',
          'education-num': np.int64,
          'marital-status': 'category',
          'occupation': 'category',
          'relationship': 'category',
          'race': 'category',
          'sex': 'category',
          'capital-gain': np.int64,
          'capital-loss': np.int64,
          'hours-per-week': np.int64,
          'native-country': 'category',
          'income': 'category',
       },
       na_values='?',
       sep=', '
   )
   .dropna()
)
df.head()

/home/raeed/codebase/cmu-ml/cmu_intro_ml/.venv/lib/python3.7/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
def get_prior_probability(series, value):
    assert series.dtype.name == 'category'
    return sum(series==value)/len(series)

print('Prior probability of income <=50K: {0:.4g}'.format(get_prior_probability(df['income'], '<=50K')))
print('Prior probability of income >50K: {0:.4g}'.format(get_prior_probability(df['income'], '>50K')))

Prior probability of income <=50K: 0.7511
Prior probability of income >50K: 0.2489

In [4]:
def get_naive_bayes_alpha(cat_series, cat_val, class_series, class_val):
    assert cat_series.dtype.name == 'category'
    assert class_series.dtype.name == 'category'
    assert len(cat_series) == len(class_series)

    sub_series = cat_series[class_series==class_val]
    return get_prior_probability(sub_series, cat_val)

# test on given solution
workclass_alpha_below = {key: get_naive_bayes_alpha(df['workclass'], key, df['income'], '<=50K') for key in ['Private', 'Self-emp-not-inc', 'Self-emp-inc', 'Federal-gov', 'Local-gov', 'State-gov', 'Without-pay', 'Never-worked']}
workclass_alpha_above = {key: get_naive_bayes_alpha(df['workclass'], key, df['income'], '>50K') for key in ['Private', 'Self-emp-not-inc', 'Self-emp-inc', 'Federal-gov', 'Local-gov', 'State-gov', 'Without-pay', 'Never-worked']}
print(workclass_alpha_above)
print(workclass_alpha_below)

{'Private': 0.6494405966968567, 'Self-emp-not-inc': 0.09509856153436334, 'Self-emp-inc': 0.07991475759190197, 'Federal-gov': 0.048614810868407035, 'Local-gov': 0.0811134789557805, 'State-gov': 0.04581779435269046, 'Without-pay': 0.0, 'Never-worked': 0.0}
{'Private': 0.768517701068244, 'Self-emp-not-inc': 0.07879403195903593, 'Self-emp-inc': 0.020923457226096936, 'Federal-gov': 0.025514257967687824, 'Local-gov': 0.06435949501191843, 'State-gov': 0.041273064359495015, 'Without-pay': 0.0006179924075218504, 'Never-worked': 0.0}

In [5]:
def get_naive_bayes_gauss_params(cont_series, class_series, class_val):
    assert cont_series.dtype.name != 'category'
    assert class_series.dtype.name == 'category'
    assert len(cont_series) == len(class_series)

    sub_series = cont_series[class_series==class_val]
    return {'mean': sub_series.mean(), 'variance': sub_series.var(ddof=0)}

# test on given solution
age_params_below = get_naive_bayes_gauss_params(df['age'], df['income'], '<=50K')
age_params_above = get_naive_bayes_gauss_params(df['age'], df['income'], '>50K')
print(age_params_above)
print(age_params_below)

{'mean': 43.95911028236548, 'variance': 105.4513115152752}
{'mean': 36.60806038668668, 'variance': 181.28829205320872}

In [6]:
def get_generic_nb_params(pred_series, class_series, class_val):
    assert class_series.dtype.name == 'category'
    assert len(pred_series) == len(class_series)

    if pred_series.dtype.name == 'category':
        return {key: get_naive_bayes_alpha(pred_series, key, class_series, class_val) for key in pred_series.cat.categories}
    else:
        return get_naive_bayes_gauss_params(pred_series, class_series, class_val)

In [7]:
for label in ['<=50K', '>50K']:
    print(label)
    for col in ['education-num','marital-status','race','capital-gain']:
        print(f"{col} ({label}): {get_generic_nb_params(df[col],df['income'],label)}")

<=50K
education-num (<=50K): {'mean': 9.629116270857244, 'variance': 5.82518914574656}
marital-status (<=50K): {'Divorced': 0.16606338836408582, 'Married-AF-spouse': 0.00048556546305288247, 'Married-civ-spouse': 0.3383949854330361, 'Married-spouse-absent': 0.01496424472499338, 'Never-married': 0.4085812660015891, 'Separated': 0.03853624084046967, 'Widowed': 0.03297430917277302}
race (<=50K): {'Amer-Indian-Eskimo': 0.011123863335393308, 'Asian-Pac-Islander': 0.028560077690474087, 'Black': 0.10819281363114681, 'Other': 0.009269886112827757, 'White': 0.842853359230158}
capital-gain (<=50K): {'mean': 148.8938377328507, 'variance': 876791.7958717996}
>50K
education-num (>50K): {'mean': 11.606419818859882, 'variance': 5.608680149804337}
marital-status (>50K): {'Divorced': 0.06020245071923282, 'Married-AF-spouse': 0.0013319126265316996, 'Married-civ-spouse': 0.8522908897176346, 'Married-spouse-absent': 0.004128929142248269, 'Never-married': 0.06259989344698988, 'Separated': 0.008790623335109217, 'Widowed': 0.010655301012253596}
race (>50K): {'Amer-Indian-Eskimo': 0.004528502930207778, 'Asian-Pac-Islander': 0.03303143313798615, 'Black': 0.0487480021310602, 'Other': 0.002797016515716569, 'White': 0.9108950452850293}
capital-gain (>50K): {'mean': 3937.6798082045816, 'variance': 206931157.77600676}

In [8]:
def fit_nb_classifier(df):
    '''
    Fit parameters of naive bayes classifier

    Args:
        df: dataframe with columns 'pred_col' and 'class_col'

    Returns:
        dict of parameters
    '''

    nb_prior_params = {
        label: get_prior_probability(df['income'],label)
        for label in ['<=50K', '>50K']
    }
    nb_likelihood_params = {
        label: {
            col: get_generic_nb_params(df[col],df['income'],label)
            for col in df.columns if col is not 'income'
        }
        for label in ['<=50K', '>50K']
    }

    return nb_prior_params,nb_likelihood_params

nb_prior_params,nb_likelihood_params = fit_nb_classifier(df)
print(nb_prior_params)
print(nb_likelihood_params)

{'<=50K': 0.7510775147536636, '>50K': 0.24892248524633645}
{'<=50K': {'age': {'mean': 36.60806038668668, 'variance': 181.28829205320872}, 'workclass': {'Federal-gov': 0.025514257967687824, 'Local-gov': 0.06435949501191843, 'Never-worked': 0.0, 'Private': 0.768517701068244, 'Self-emp-inc': 0.020923457226096936, 'Self-emp-not-inc': 0.07879403195903593, 'State-gov': 0.041273064359495015, 'Without-pay': 0.0006179924075218504}, 'fnlwgt': {'mean': 190338.64672905448, 'variance': 11356949805.69214}, 'education': {'10th': 0.03359230158029487, '11th': 0.043656749359936436, '12th': 0.015361525558400282, '1st-4th': 0.006400635649333451, '5th-6th': 0.012183278891145052, '7th-8th': 0.023042288337600424, '9th': 0.018981195373885408, 'Assoc-acdm': 0.03319502074688797, 'Assoc-voc': 0.04250904917453871, 'Bachelors': 0.12880727465348282, 'Doctorate': 0.004193519908183985, 'HS-grad': 0.3629822547894412, 'Masters': 0.03129690120949943, 'Preschool': 0.0019864041670345192, 'Prof-school': 0.0060033548159265475, 'Some-college': 0.23580824578440893}, 'education-num': {'mean': 9.629116270857244, 'variance': 5.82518914574656}, 'marital-status': {'Divorced': 0.16606338836408582, 'Married-AF-spouse': 0.00048556546305288247, 'Married-civ-spouse': 0.3383949854330361, 'Married-spouse-absent': 0.01496424472499338, 'Never-married': 0.4085812660015891, 'Separated': 0.03853624084046967, 'Widowed': 0.03297430917277302}, 'occupation': {'Adm-clerical': 0.14227068067449458, 'Armed-Forces': 0.00035313851858391455, 'Craft-repair': 0.13781230687737264, 'Exec-managerial': 0.09071245696124305, 'Farming-fishing': 0.038580383155292663, 'Handlers-cleaners': 0.055928312880727464, 'Machine-op-inspct': 0.07596892381036462, 'Other-service': 0.1359583296548071, 'Priv-house-serv': 0.006268208704864483, 'Prof-specialty': 0.09830493511079721, 'Protective-serv': 0.019157764633177365, 'Sales': 0.11538801094729408, 'Tech-support': 0.027986227597775228, 'Transport-moving': 0.05531032047320562}, 'relationship': {'Husband': 0.29946146375915955, 'Not-in-family': 0.30471439922309523, 'Other-relative': 0.03769753685883288, 'Own-child': 0.19431446985079898, 'Unmarried': 0.13238280215414497, 'Wife': 0.03142932815396839}, 'race': {'Amer-Indian-Eskimo': 0.011123863335393308, 'Asian-Pac-Islander': 0.028560077690474087, 'Black': 0.10819281363114681, 'Other': 0.009269886112827757, 'White': 0.842853359230158}, 'sex': {'Female': 0.3827138695153174, 'Male': 0.6172861304846826}, 'capital-gain': {'mean': 148.8938377328507, 'variance': 876791.7958717996}, 'capital-loss': {'mean': 53.44800035313852, 'variance': 96263.38660918231}, 'hours-per-week': {'mean': 39.34859186015715, 'variance': 142.81469807011294}, 'native-country': {'Cambodia': 0.00048556546305288247, 'Canada': 0.0031341043524322413, 'China': 0.0021188311115034873, 'Columbia': 0.0023836850004414233, 'Cuba': 0.0029575350931402844, 'Dominican-Republic': 0.0028692504634943057, 'Ecuador': 0.0010152732409287543, 'El-Salvador': 0.004016950648892028, 'England': 0.0024719696300874016, 'France': 0.0006621347223448397, 'Germany': 0.003707954445131103, 'Greece': 0.0009269886112827757, 'Guatemala': 0.002648538889379359, 'Haiti': 0.001677407963273594, 'Holand-Netherlands': 4.414231482298932e-05, 'Honduras': 0.00048556546305288247, 'Hong': 0.0005738500926988612, 'Hungary': 0.0004414231482298932, 'India': 0.002648538889379359, 'Iran': 0.0010594155557517436, 'Ireland': 0.000838703981636797, 'Italy': 0.0019422618522115299, 'Jamaica': 0.0030899620376092524, 'Japan': 0.0015891233336276153, 'Laos': 0.0006621347223448397, 'Mexico': 0.025470115652864837, 'Nicaragua': 0.0013684117595126688, 'Outlying-US(Guam-USVI-etc)': 0.0006179924075218504, 'Peru': 0.0012359848150437008, 'Philippines': 0.005650216297342633, 'Poland': 0.0019864041670345192, 'Portugal': 0.0013242694446896795, 'Puerto-Rico': 0.004281804537829964, 'Scotland': 0.00039728083340690384, 'South': 0.002516111944910391, 'Taiwan': 0.0010152732409287543, 'Thailand': 0.0006179924075218504, 'Trinadad&Tobago': 0.0007062770371678291, 'United-States': 0.9053147347046879, 'Vietnam': 0.0026043965745563696, 'Yugoslavia': 0.0004414231482298932}}, '>50K': {'age': {'mean': 43.95911028236548, 'variance': 105.4513115152752}, 'workclass': {'Federal-gov': 0.048614810868407035, 'Local-gov': 0.0811134789557805, 'Never-worked': 0.0, 'Private': 0.6494405966968567, 'Self-emp-inc': 0.07991475759190197, 'Self-emp-not-inc': 0.09509856153436334, 'State-gov': 0.04581779435269046, 'Without-pay': 0.0}, 'fnlwgt': {'mean': 188149.96217368142, 'variance': 10570901483.818228}, 'education': {'10th': 0.007858284496537027, '11th': 0.007858284496537027, '12th': 0.0038625466169419287, '1st-4th': 0.0007991475759190197, '5th-6th': 0.0015982951518380393, '7th-8th': 0.004661694192860949, '9th': 0.0033297815663292487, 'Assoc-acdm': 0.034096963239211506, 'Assoc-voc': 0.04581779435269046, 'Bachelors': 0.28316462440063933, 'Doctorate': 0.03729355354288759, 'HS-grad': 0.2153702717101758, 'Masters': 0.12226957911561001, 'Preschool': 0.0, 'Prof-school': 0.054075652637187, 'Some-college': 0.17794352690463505}, 'education-num': {'mean': 11.606419818859882, 'variance': 5.608680149804337}, 'marital-status': {'Divorced': 0.06020245071923282, 'Married-AF-spouse': 0.0013319126265316996, 'Married-civ-spouse': 0.8522908897176346, 'Married-spouse-absent': 0.004128929142248269, 'Never-married': 0.06259989344698988, 'Separated': 0.008790623335109217, 'Widowed': 0.010655301012253596}, 'occupation': {'Adm-clerical': 0.06632924880127863, 'Armed-Forces': 0.00013319126265316994, 'Craft-repair': 0.12093766648907832, 'Exec-managerial': 0.2579914757591902, 'Farming-fishing': 0.015316995205114545, 'Handlers-cleaners': 0.011054874800213107, 'Machine-op-inspct': 0.03263185935002664, 'Other-service': 0.017581246670218435, 'Priv-house-serv': 0.00013319126265316994, 'Prof-specialty': 0.24120937666489078, 'Protective-serv': 0.02797016515716569, 'Sales': 0.12919552477357485, 'Tech-support': 0.03702717101758125, 'Transport-moving': 0.04248801278636122}, 'relationship': {'Husband': 0.7563931806073522, 'Not-in-family': 0.10961640916355887, 'Other-relative': 0.004661694192860949, 'Own-child': 0.008524240809802876, 'Unmarried': 0.0283697389451252, 'Wife': 0.09243473628129995}, 'race': {'Amer-Indian-Eskimo': 0.004528502930207778, 'Asian-Pac-Islander': 0.03303143313798615, 'Black': 0.0487480021310602, 'Other': 0.002797016515716569, 'White': 0.9108950452850293}, 'sex': {'Female': 0.148108684070325, 'Male': 0.851891315929675}, 'capital-gain': {'mean': 3937.6798082045816, 'variance': 206931157.77600676}, 'capital-loss': {'mean': 193.75066595631327, 'variance': 351395.37070413824}, 'hours-per-week': {'mean': 45.70657964837507, 'variance': 115.26752729959647}, 'native-country': {'Cambodia': 0.0009323388385721897, 'Canada': 0.004794885455514118, 'China': 0.002663825253063399, 'Columbia': 0.0002663825253063399, 'Cuba': 0.0033297815663292487, 'Dominican-Republic': 0.0002663825253063399, 'Ecuador': 0.0005327650506126798, 'El-Salvador': 0.0011987213638785296, 'England': 0.003995737879595098, 'France': 0.0015982951518380393, 'Germany': 0.005860415556739478, 'Greece': 0.0010655301012253596, 'Guatemala': 0.00039957378795950983, 'Haiti': 0.0005327650506126798, 'Holand-Netherlands': 0.0, 'Honduras': 0.00013319126265316994, 'Hong': 0.0007991475759190197, 'Hungary': 0.00039957378795950983, 'India': 0.005327650506126798, 'Iran': 0.002397442727757059, 'Ireland': 0.0006659563132658498, 'Italy': 0.0031965903036760787, 'Jamaica': 0.0013319126265316996, 'Japan': 0.003063399041022909, 'Laos': 0.0002663825253063399, 'Mexico': 0.004395311667554609, 'Nicaragua': 0.0002663825253063399, 'Outlying-US(Guam-USVI-etc)': 0.0, 'Peru': 0.0002663825253063399, 'Philippines': 0.007991475759190196, 'Poland': 0.0014651038891848695, 'Portugal': 0.0005327650506126798, 'Puerto-Rico': 0.0015982951518380393, 'Scotland': 0.0002663825253063399, 'South': 0.0018646776771443793, 'Taiwan': 0.002530633990410229, 'Thailand': 0.00039957378795950983, 'Trinadad&Tobago': 0.0002663825253063399, 'United-States': 0.9316728822589239, 'Vietnam': 0.0006659563132658498, 'Yugoslavia': 0.0007991475759190197}}}

In [9]:
test_df = (
   pd.read_csv(
       '../data/adult.test',
       names=[
          'age',
          'workclass',
          'fnlwgt',
          'education',
          'education-num',
          'marital-status',
          'occupation',
          'relationship',
          'race',
          'sex',
          'capital-gain',
          'capital-loss',
          'hours-per-week',
          'native-country',
          'income',
       ],
       dtype={
          'age': np.int64,
          'workclass': 'category',
          'fnlwgt': np.int64,
          'education': 'category',
          'education-num': np.int64,
          'marital-status': 'category',
          'occupation': 'category',
          'relationship': 'category',
          'race': 'category',
          'sex': 'category',
          'capital-gain': np.int64,
          'capital-loss': np.int64,
          'hours-per-week': np.int64,
          'native-country': 'category',
          'income': 'category',
       },
       na_values='?',
       sep=', ',
       skiprows=1,
   )
   .dropna()
)
test_df['income'].cat.rename_categories({'<=50K.': '<=50K', '>50K.': '>50K'}, inplace=True)
test_df.head()

/home/raeed/codebase/cmu-ml/cmu_intro_ml/.venv/lib/python3.7/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)
/home/raeed/codebase/cmu-ml/cmu_intro_ml/.venv/lib/python3.7/site-packages/pandas/core/arrays/categorical.py:2631: FutureWarning: The `inplace` parameter in pandas.Categorical.rename_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  res = method(*args, **kwargs)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [24]:
def calc_log_likelihood(col, likelihood_params):
    '''
    Calculate the log likelihood of a column given the likelihood parameters.

    Args:
        col: A pandas series of the column to calculate the log likelihood of.
        likelihood_params: A dictionary of the likelihood parameters.

    Returns:
        A pandas series of the log likelihood of the column.
    '''
    if col.dtype.name == 'category':
        log_likelihood_params = {key: np.log(val) if val!=0 else -np.inf for key, val in likelihood_params.items()}
        return col.map(log_likelihood_params).astype(np.float32).fillna(-np.inf)
    else:
        # vectorized
        eps = 1e-9
        mean = likelihood_params['mean']
        var = likelihood_params['variance']+eps
        return -0.5*np.log(2*np.pi*var) - 0.5*((col-mean)**2/var)

def calc_log_posterior(test_df,labels,nb_prior_params,nb_likelihood_params):
    '''
    Calculates the log posteriors for each row of the data given an assumed class label
    and naive bayes parameters (prior and likelihood)

    Args:
        test_df: A pandas dataframe of the test data.
        labels: A pandas series of the assumed class labels or a single assumed label (string)
        nb_prior_params: A dictionary of the naive bayes prior parameters.
        nb_likelihood_params: A dictionary of the naive bayes likelihood parameters.

    Returns:
        A pandas series of the log posteriors for each row, assuming the given class labels
    '''

    if type(labels) is str:
        labels = pd.Series([labels]*len(test_df),index=test_df.index)

    log_prior_params = {key: np.log(val) for key, val in nb_prior_params.items()}
    log_prior = labels.map(log_prior_params).astype(np.float32)

    log_likelihood = pd.concat([
        calc_log_likelihood(test_df[colname], nb_likelihood_params[label][colname])
        for colname in test_df if colname in nb_likelihood_params[label]
    ],axis=1).sum(axis=1)

    return log_prior + log_likelihood

# for line,row in test_df.head(10).iterrows():
#     print(f"{line}: {calc_log_posterior(row,row['income'],nb_prior_params,nb_likelihood_params)}")

calc_log_posterior(test_df.head(10),test_df['income'].head(10),nb_prior_params,nb_likelihood_params)

0    -62.251311
1    -47.175725
2    -52.699990
3    -49.735549
5    -57.927771
7    -51.370071
8    -57.379948
9    -59.224411
10   -49.036513
11   -47.359949
dtype: float64

In [39]:
def nb_classify(test_df,nb_prior_params,nb_likelihood_params):
    '''
    Classifies the test data using naive bayes.

    Args:
        test_df: A pandas dataframe of the test data.
        nb_prior_params: A dictionary of the naive bayes prior parameters.
        nb_likelihood_params: A dictionary of the naive bayes likelihood parameters.

    Returns:
        A pandas series of the predicted class labels.
    '''
    log_posteriors = pd.DataFrame({
        label: calc_log_posterior(test_df,label,nb_prior_params,nb_likelihood_params)
        for label in ['<=50K', '>50K']
    })

    class_labels = log_posteriors.idxmax(axis=1).astype('category')
    return class_labels

def score_classifier(test_df,nb_prior_params,nb_likelihood_params):
    '''
    Scores the classifier using the test data.

    Args:
        test_df: A pandas dataframe of the test data.
        class_labels: A pandas series of the predicted class labels.

    Returns:
        The accuracy of the classifier.
    '''
    class_labels = nb_classify(test_df,nb_prior_params,nb_likelihood_params)
    return (class_labels.astype(str) == test_df['income'].astype(str)).mean()

print(f"Train accuracy: {score_classifier(df,nb_prior_params,nb_likelihood_params)}")
print(f"Test accuracy: {score_classifier(test_df,nb_prior_params,nb_likelihood_params)}")

Train accuracy: 0.7510775147536636
Test accuracy: 0.7543160690571049

In [ ]:
def load_n_training_samples(n_samples):
    df = (
       pd.read_csv(
           '../data/adult.data',
           names=[
              'age',
              'workclass',
              'fnlwgt',
              'education',
              'education-num',
              'marital-status',
              'occupation',
              'relationship',
              'race',
              'sex',
              'capital-gain',
              'capital-loss',
              'hours-per-week',
              'native-country',
              'income',
           ],
           dtype={
              'age': np.int64,
              'workclass': 'category',
              'fnlwgt': np.int64,
              'education': 'category',
              'education-num': np.int64,
              'marital-status': 'category',
              'occupation': 'category',
              'relationship': 'category',
              'race': 'category',
              'sex': 'category',
              'capital-gain': np.int64,
              'capital-loss': np.int64,
              'hours-per-week': np.int64,
              'native-country': 'category',
              'income': 'category',
           },
           na_values='?',
           sep=', '
       )
       .head(n_samples)
       .dropna()
    )